*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper{

}

header{
    background-color: #1275BB;
    color: #F2F2F2;
    display: flex;
    
}

.iconeELocal{
    display: flex;
    width: 350px;
}

#msgRecebida{
    border: 2px solid black;
}

footer{
    background-color: #D9D9D9;
}

.escritaUsuario{
    background-color: #F2F2F2;
    border: 2px solid black;
    border-radius: 20px;

}

#btnEnvio{
    border-radius: 20px;
    background-color: #1275BB;
    border: none;
    height: 40px;
    width: 40px;
}

#btn{
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-color: #1275BB;
}

